#PostList_div{
    width: 100%;
    height: 100%;
   overflow-y: auto;
   overflow-x: hidden;
   border-right: 1px solid#3e3e3e;
   border-left: 1px solid#3e3e3e;
   border-bottom: 1px solid#3e3e3e;
   
}
#PostList_div::-webkit-scrollbar{
  
  width: 5px;
  background-color: black;
}
#PostList_div::-webkit-scrollbar-thumb{
  
  background-color: rgb(97, 97, 97);
}

#fixed-form-container {
    position: sticky;
    top: 0;
    background-color: #000; /* 백그라운드 컬러를 조정하여 등록 폼을 구분되게 만듦 *
    /* z-index: 1000; */
}
#post-container{

  height: 70%;
  overflow-y: auto;
  background-color: antiquewhite;
}

  /* .posts-container {
    margin-top: 100px; 등록 폼의 높이에 맞게 여백을 추가
  }
   */