
@media  screen and (max-width:770px) {      /* 모바일 화면*/
  #navcomponent_div{
    display: none;
  }
  
}



  @media  screen and (min-width:770px) {   /* 패드 화면*/
  nav {

    width: 300px;
    height: 100vh;
    border-right: 1px solid #3e3e3e;
    padding-top: 16px;
  }
  
  nav > img {
    color: white;
    width: 48px;
    height: 48px;
  }
  
  nav > h2 {
    color: white;
    font-size: 1.5rem;
  }
  
  nav > h3 {
    color: #c4c4c4;
    font-size: 1.25rem;
    margin: 0;
  }
  
  .developers > h4 {
    margin-top: 64px;
    font-size: 1rem;
  }
  
  .developers > p {
    margin: 0 0 8px;
    font-size: 0.85rem;
  }
  
  .developers {
    color: #c4c4c4;
  }
  
}

